/* Write your code here. */
.bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    height: 100vh;
  }
  .won-result-card {
    background-color: #ffffff33;
    border: 1px solid #ffffff30;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .lose-result-card {
    background-color: #ffffff33;
    border: 1px solid #ffffff30;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .result-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: -1;
    margin: 25px;
  }
  .won-img {
    margin: 25px;
    order: 0;
  }
  .heading {
    color: #ffffff;
  }
  .para {
    font-size: 22px;
    font-weight: 450;
    color: #ffffff;
  }
  .scores {
    color: #6a59ff;
    font-size: 35px;
    font-weight: 600;
  }
  .play-btn {
    background-color: #ffce27;
    color: #3d3d3d;
    text-align: center;
    border-width: 0px;
    padding: 14px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
  }
  * {
    font-family: 'Roboto';
  }
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 15px;
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    align-self: flex-start;
    width: 100%;
    margin-top: 0px;
  }
  .emoji-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 60px;
  }
  .nav-img {
    height: 70px;
    width: 70px;
  }
  .emoji-heading {
    color: #ffffff;
  }
  .scores-container {
    flex-direction: row;
    justify-content: space-around;
    margin-right: 60px;
    display: none;
  }